.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.img {
    pointer-events: all;
    max-height: 100px;
}

.linearProgress {
    border-radius: 5px;
    width: 100%;
    z-index: 1;
}

.percentage {
    color: black;
    position: absolute;
}